@{
    ViewData["Title"] = "Contact";
}
<div class="contact-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading">Contact &amp; About</h1>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <h2>Contact Us</h2>
                    <p>
                        This website is developed by Anubhav Karki.<br />
                        To get in contact, please <a href="mailto:u3256634@uni.canberra.edu.au" class="link-style">email</a>.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <h2>About Us</h2>
                    <p>
                        This website provides an introduction to Artificial Intelligence and was created as
                        partial fulfillment of the assessment requirements of Web Design and Programming at the
                        University of Canberra.<br>
                        This site is built on the ASP.NET CORE framework and employs Bootstrap responsive design
                        techniques.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <h2>Copyright</h2>
                    <p>
                        All images used in this website were downloaded from <a target="_blank"
                            href="https://unsplash.com/" class="link-style">Unsplash</a>.<br>
                        The icons for the footer from <a target="_blank"
                            href="https://fontawesome.com/" class="link-style">fontawesome</a>.<br>
                        The Anton font used for headers from <a target="_blank" href="https://fonts.google.com/" class="link-style">Google
                            Fonts</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
