@model WDP2024Assignment2.Models.AIImage

@{
    ViewData["Title"] = "Create";
}

<div class="create-page">
    <h3 class="upload-heading mt-5">Upload AI Image</h3>

    <div class="form-container">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Prompt" class="control-label"></label>
                <input asp-for="Prompt" class="form-control large-input textbox-height" />
                <span asp-validation-for="Prompt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageGenerator" class="control-label"></label>
                <input asp-for="ImageGenerator" class="form-control large-input" />
                <span asp-validation-for="ImageGenerator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadDate" class="control-label"></label>
                <input asp-for="UploadDate" class="form-control large-input" id="uploadDate"
                    value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" readonly />
                <span asp-validation-for="UploadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Like" class="control-label"></label>
                <input asp-for="Like" class="form-control" readonly="readonly" />
                <span asp-validation-for="Like" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="imageUpload" class="control-label">Upload Image File</label>
                <input type="file" id="imageUpload" name="Filename" class="form-control large-input" accept="image/*" />
                <span asp-validation-for="Filename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btl-link">Back to List</a>
            </div>
        </form>

        <!-- Image Preview -->
        <div class="image-preview">
            <img id="selectedImage" src="~/images/ibm.jpg" alt="IBM Image" />
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
