@model WDP2024Assignment2.Models.AIImage

@{
    ViewData["Title"] = "Edit";
}

<div class="create-page">
    <h3 class="upload-heading mt-5">Edit AI Image</h3>

    <div class="form-container">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Prompt" class="control-label"></label>
                <input asp-for="Prompt" class="form-control large-input textbox-height" />
                <span asp-validation-for="Prompt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageGenerator" class="control-label"></label>
                <input asp-for="ImageGenerator" class="form-control large-input" />
                <span asp-validation-for="ImageGenerator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadDate" class="control-label"></label>
                <input asp-for="UploadDate" class="form-control large-input" id="uploadDate" readonly />
                <span asp-validation-for="UploadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Like" class="control-label"></label>
                <input asp-for="Like" class="form-control" readonly="readonly" />
                <span asp-validation-for="Like" class="text-danger"></span>
            </div>

            <!-- File upload -->
            <div class="form-group">
                <label for="imageUpload" class="control-label">Upload Image File</label>
                <input type="file" id="imageUpload" name="Filename" class="form-control large-input" accept="image/*"
                    onchange="previewImage(event)" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btl-link">Back to List</a>
            </div>
        </form>

        <!-- Image Preview -->
        <div class="image-preview">
            @if (!string.IsNullOrEmpty(Model.Filename))
            {
                <img id="currentImage" src="~/uploads/@Model.Filename" alt="Current Image" />
            }
            <img id="selectedImage_" alt="Image Preview" />
        </div>
    </div>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
